* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../font/Proxima_Nova_Font.otf);
}

html {
  font-family: Proxima Nova;
  font-size: 16px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 40px;
}

.title {
  color: #2A363D;
}

.title--hero {
  font-size: 2.5rem;
}

.title--card {
  font-size: 1.3rem;
}

.title--secondary {
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 10px;
}

.title--sub {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}

.text--primary {
  color: #2A363D;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.2;
}

.text--sub, .text--card {
  color: #526C79;
  font-size: 14px;
}

.image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
}

.btn--primary {
  background-color: #4ED687;
  border: 1px solid #4ED687;
  color: #FFFFFF;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 6px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.2;
  font-size: 14px;
}

.btn--primary:hover {
  background-color: transparent;
  color: #2A363D;
}

.btn--secondary {
  background-color: red;
  background-image: -webkit-gradient(linear, left top, right bottom, from(red), to(#f06d06));
  background-image: linear-gradient(to right bottom, red, #f06d06);
  border-radius: 6px;
  font-weight: 200;
  color: #FFFFFF;
  font-size: 14px;
  padding: 15px 10px;
}

.btn--yellow, .btn--pink, .btn--blue, .btn--green {
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 20px;
  padding: 10px 15px;
}

.btn--yellow {
  background-color: #FEC149;
}

.btn--pink {
  background-color: #EF3F61;
}

.btn--blue {
  background-color: #5C94FE;
}

.btn--green {
  background-color: #4ED687;
}

.btn--blue-s {
  color: #FFFFFF;
  font-size: 12px;
  border: none;
  padding: 5px 10px;
  background-color: #5C94FE;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.card__img--s {
  opacity: 0.3;
  margin-top: -20px;
}

.card--sm {
  margin-top: 50px;
}

.card__follower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__follower--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.card--join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.card--sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.card__pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  padding: 20px 30px;
  -webkit-box-shadow: -2px 5px 15px 2px rgba(122, 122, 122, 0.366);
          box-shadow: -2px 5px 15px 2px rgba(122, 122, 122, 0.366);
}

.header {
  background-image: url(../image/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__col-1 {
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.header__col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-shadow: 1px solid black;
          box-shadow: 1px solid black;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 5px 10px -7px rgba(122, 122, 122, 0.466);
          box-shadow: 0px 5px 10px -7px rgba(122, 122, 122, 0.466);
  padding: 20px;
}

.header__end {
  margin-top: 30px;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }
}

.header__link--btn {
  display: none;
  background-color: #4ED687;
}

@media screen and (max-width: 768px) {
  .header__link--btn {
    display: inline-block;
  }
}

.header__link--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.purchase {
  margin-top: 30px;
}

.purchase__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  background-image: url(../image/bg2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.purchase__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.follower__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .follower__wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.follower__wrap--col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.follower__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
}

.follower__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  padding: 10px 20px;
}

.join {
  background-image: url(../image/body.svg);
  width: 100%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}

.join__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  row-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .join__wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.join__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  background-image: url(../image/Ellipse-j.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.join__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.join__video {
  padding: 0 20px;
}

.join__img {
  height: 400px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.profile {
  margin-top: 20px;
}

.profile__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .profile__wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */